.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    background-color: #000;
    //background: url("../assets/img/BG.jpg") center / cover no-repeat;
}