@import "./../../variables/variables.scss";

.header {
    padding: 0 30px;
    background-color: #000;

    &__container {
        max-width: 1680px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 121px;
    }

    &__logo {
        color: $main-hover;
        font-family: $cormorant-family;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 130%;
        font-size: 44px;
    }

    &__menu {

        &_list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            padding: 0 30px;
        }

        a {
            color: #fff;
            transition: color 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $main-hover;
                }
            }

            &:not(:last-child) {
                margin-right: 32px;
            }
        }
    }

    &__auth {
        align-self: stretch;
        align-items: center;
        display: flex;

        &_link {
            color: #fff;
            line-height: 175%;
            transition: color 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $main-hover;
                }
            }
        }
    }
}