@import './fonts/fonts.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body {
  color: #aaa;
  min-width: 320px;
  /* max-width: 1920px; */
  font-size: 16px;
  font-family: "Open Sans", Times, serif;
  line-height: 150%;
}

html,
body {
  height: 100%;
}